server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pcshop?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: springboot
    password: "00110022"
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
api:
  prefix: main-api
jwt:
  expiration: 2592000
  secretKey: lDW0PqaHzJIW5ZEoMlG5GDe3Uz+GX2UgfZnHfIwXQZI=