server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pcshop?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
api:
  prefix: api/ver1
jwt:
  expiration: 2592000
  secretKey: lDW0PqaHzJIW5ZEoMlG5GDe3Uz+GX2UgfZnHfIwXQZI=